body { background: #fff; }
header { padding: 30px 0 30px 0; }
header { background: #005EA5; }
header h1 { font-weight: bold; color: #fff; }
header a, .nav-link { color: #fff;}
header a:hover, .nav-link:hover { background: #003863; color: #fff; }

.card { margin-top: 15px; }
.card-block { margin-bottom: 30px;}

main section {
  background: #fff;
  padding: 30px 0; min-height: 400px;
}
main section.lure {
  background: #004f8c;
  padding: 100px 0;
  min-height: 200px;
}
main section.compact { min-height: 100px; padding: 30px 0;}
main section.content { background: #fff; }

main section#about { font-size: 1.2em; background: #f2f0ed; }

h2 { font-size: 2rem; font-weight: bold; color: #003863;}
main section.lure h2 { font-size: 3rem; color: #fff; padding: 0; }
main section.second h2, main section.third h2, main section.fourth h2 { padding: 0 0 15px 0;}

footer { background: #003863; padding: 30px 0; color: #fff;}
footer a { color: #cce9ff; }
footer a:hover { color: #00101c; }